@model IEnumerable<DataBaseModels.Album>

@{
    ViewData["Title"] = "List of Albums";
}

<h1>Albums</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumarPiese)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataLansare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenAlbum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdArtist)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Nume)*@
                @Html.ActionLink(item.Nume, "List", new { albumId=item.Id})
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumarPiese)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataLansare)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenAlbum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdArtist)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { albumId = item.Id }) |
                @Html.ActionLink("Details", "Details", new { albumId = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { albumId = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
