@model IEnumerable<DataBaseModels.Melodie>

@{
    ViewData["Title"] = "Album's Songs";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Durata)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataLansare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAlbum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aprecieri)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Durata)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataLansare)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAlbum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aprecieri)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
}
    </tbody>
</table>
